doctype 5
html
  head
    title Proteus Statsd Viewer
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/rickshaw.css')
    link(rel='stylesheet', href='css/viewer.css')
    script(type='text/javascript', src='js/jquery-2.0.0.min.js')
    script(type='text/javascript', src='js/lodash.js')
    script(type='text/javascript', src='js/routie.js')
    script(type='text/javascript', src='js/async.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/d3.v2.js')
    script(type='text/javascript', src='js/rickshaw.js')
    script(type='text/javascript', src='js/require.js', data-main='js/viewer-main')
    script(type='text/javascript')
      requirejs.config({
        baseUrl: 'js'
      });
    block head
  body
    header
      block header
    #root
      block main
    footer
      block footer
